.choice-box{
    -fx-font-family: "DePixel";
    -fx-text-fill: cyan;
    -fx-border-color: rgba(82, 103, 253, 0.58);
    -fx-border-width: 3px;
    -fx-pref-width: 340px;
    -fx-pref-height: 72px;
    -fx-border-style: dashed;
    -fx-background-color: black;
}
.choice-box:hover{
    -fx-text-fill: cyan;
    -fx-border-color: cyan;
    -fx-border-width: 4px;
    -fx-pref-width: 350px;
    -fx-pref-height: 74px;
}
.choice-box:focused{
    -fx-text-fill: cyan;
    -fx-border-color: rgba(82, 103, 253, 0.58);
    -fx-border-width: 3px;
    -fx-pref-width: 340px;
    -fx-pref-height: 72px;
}
.label{
    -fx-text-fill: #5267fd;
    -fx-background-color: black;
    -fx-border-color: black;
    -fx-border-width: 3;
    -fx-font-size: 18;
    -fx-font-family: "DePixel";

}
#passLable{
    -fx-font-size: 18;
    -fx-translate-y: -65;
    -fx-translate-x: -120;
}
.text-field{
    -fx-font-family: "DePixel";
    -fx-text-fill: cyan;
    -fx-border-color: rgba(82, 103, 253, 0.58);
    -fx-border-width: 3px;
    -fx-pref-width: 340px;
    -fx-pref-height: 72px;
    -fx-border-style: dashed;
    -fx-background-color: black;
    -fx-translate-y: 25;
}
.text-field:hover{
    -fx-text-fill: cyan;
    -fx-border-color: cyan;
    -fx-border-width: 4px;
    -fx-pref-width: 350px;
    -fx-pref-height: 74px;
}
.text-field:focused{
    -fx-text-fill: cyan;
    -fx-border-color: rgba(82, 103, 253, 0.58);
    -fx-border-width: 3px;
    -fx-pref-width: 340px;
    -fx-pref-height: 72px;
}
#upButton {
    -fx-font-size: 8;
    -fx-border-width: 1;
  -fx-pref-width: 25;
  -fx-pref-height: 25;
 }
#downButton {
    -fx-font-size: 8;
    -fx-border-width: 1;
    -fx-pref-width: 25;
    -fx-pref-height: 25;
}